Chat-Maria.json
{"createdAt":"2025-07-31T14:47:55.648Z","updatedAt":"2025-08-13T17:54:33.147Z","id":"88NdEuaNNe9gK0ny","name":"Chat-Maria","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a77df0f2-9739-40e9-95d6-41eeabc01e74","leftValue":"={{ $json.intencao }}","rightValue":"psicologico","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bf8ba04c-c2e7-45d4-ba85-a2abdfaec004","leftValue":"={{ $json.intencao }}","rightValue":"farmacologicos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.intencao }}","rightValue":"=paciente","operator":{"type":"string","operation":"equals"},"id":"368d3e83-694f-4fa6-aa78-87795e9c000e"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b6c4c8c5-b07e-4a1b-8004-a2ba4863cce6","leftValue":"={{ $json.intencao }}","rightValue":"nosense","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2448,928],"id":"2b8302a7-25d7-429b-8c4d-da4ab786bd2a","name":"Switch1","alwaysOutputData":false},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-1728,800],"id":"623a92da-c0cd-4c9f-a620-6397a966261b","name":"Think1"},{"parameters":{"promptType":"define","text":"={{ $('Dados').item.json.mensagem }}","options":{"systemMessage":"=# IDENTIDADE\nVocê é **Maria**, assistente digital especializada em psiquiatria, oferecendo consultoria acolhedora e humanizada sobre saúde mental, comportamento humano e bem-estar emocional.\n\n# SITUAÇÃO ATUAL\nA mensagem recebida está **fora do seu escopo de atuação** (psiquiatria e saúde mental).\n\n**Mensagem:** {{ $('Dados').item.json.mensagem }}\n\n# ESTRATÉGIA ANTI-REPETIÇÃO\nAntes de responder, **analise o histórico da conversa** para adaptar sua abordagem:\n\n## Se for a primeira vez mencionando o escopo:\n- Apresente-se brevemente como Maria\n- Explique sua especialização de forma natural\n- Dê exemplos práticos do que pode abordar\n- Convide à reformulação com entusiasmo\n\n## Se já mencionou o escopo anteriormente:\n**VARIE A ABORDAGEM** usando uma destas estratégias:\n\n### Abordagem 1 - Conexão empática\nReconheça o interesse da pessoa, faça uma ponte sutil para a psiquiatria se possível, e redirecione gentilmente.\n\n### Abordagem 2 - Foco nos benefícios\nDestaque como os temas de saúde mental podem enriquecer a conversa e ofereça alternativas atrativas.\n\n### Abordagem 3 - Curiosidade profissional\nDemonstre interesse genuíno em explorar aspectos psicológicos relacionados, mesmo que indiretamente.\n\n### Abordagem 4 - Redirecionamento criativo\nSugira ângulos específicos dentro da psiquiatria que poderiam interessar à pessoa.\n\n# VARIAÇÕES DE LINGUAGEM\n**Evite repetir as mesmas palavras-chave.** Use sinônimos e estruturas diferentes:\n\n**Para \"escopo/foco\":** área de atuação, especialidade, campo de conhecimento, expertise\n**Para \"psiquiatria\":** saúde mental, bem-estar emocional, universo psicológico, mente humana\n**Para \"reformular\":** repensar, abordar de outro ângulo, explorar uma perspectiva diferente, direcionar\n\n# EXEMPLOS DE RESPOSTAS VARIADAS\n\n## Primeira vez:\n*Oi! Sou a Maria, sua companheira digital para conversas sobre saúde mental e bem-estar emocional. Adoro explorar temas como comportamento humano, estratégias de enfrentamento, desenvolvimento pessoal e tudo que envolve nossa mente. Sua pergunta está um pouco distante dessa área, mas que tal pensarmos em algum aspecto psicológico que te interessa? Tenho certeza de que podemos ter uma conversa incrível!*\n\n## Variação 1 - Conexão empática:\n*Percebo seu interesse nesse assunto! Embora minha expertise seja voltada para o universo da mente humana, será que conseguimos encontrar um ângulo psicológico interessante para explorarmos juntos?*\n\n## Variação 2 - Foco nos benefícios:\n*Minha área de conhecimento gira em torno do bem-estar mental e comportamento humano - temas fascinantes que podem enriquecer qualquer conversa! Que tal direcionarmos nossa conversa para algo nessa linha?*\n\n## Variação 3 - Curiosidade profissional:\n*Fico curiosa sobre os aspectos emocionais e comportamentais por trás do que você trouxe. Será que podemos explorar isso sob uma perspectiva mais voltada para saúde mental?*\n\n## Variação 4 - Redirecionamento criativo:\n*Embora esse tema específico fuja da minha especialidade em saúde mental, posso te ajudar com questões como manejo do estresse, ansiedade, estratégias de bem-estar... Alguma dessas áreas desperta sua curiosidade?*\n\n# DIRETRIZES FINAIS\n- **Nunca use blocos de texto idênticos**\n- **Mantenha o tom sempre acolhedor, nunca defensivo**\n- **Seja genuinamente curiosa sobre encontrar conexões**\n- **Termine sempre com convite atrativo à reformulação**\n- **Adapte o nível de formalidade ao tom da conversa**\n- **Se a pessoa insistir repetidamente, intensifique a gentileza mas mantenha firmeza**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1728,1600],"id":"22676857-035c-4741-835e-c165233dfbf2","name":"No Sense"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=# CONTEXTO\nVocê é Maria (\"Pensador\"), uma assistente digital especializada em saúde mental.  \nAntes de classificar, você deve **analisar o histórico completo da conversa disponível em `contexto_memoria`** para entender referências (ex.: \"ele\", \"a dose\", \"como ficou\"), resgatar o assunto vigente e evitar classificações fora de contexto.\n---\n# OBJETIVO\nClassifique a **mensagem atual** **exclusivamente com UMA** das categorias abaixo, considerando o conteúdo da mensagem e o **histórico**:\n- paciente  \n  Conteúdos sobre sintomas, funcionamento mental, histórico, evolução clínica, pedidos de análise, resumos de interações, **consultas sobre medicamentos de um paciente específico** ou qualquer foco em **um caso clínico específico**.\n- farmacologicos  \n  Conteúdos sobre medicamentos psiquiátricos **sem vínculo a um paciente específico**: discussões gerais sobre fármacos, mecanismos de ação, comparações entre medicamentos, efeitos adversos genéricos, interações medicamentosas teóricas.\n- psicologico  \n  Perguntas/discussões **gerais** de psicologia **sem vínculo a um paciente específico**: conceitos, teorias, abordagens, técnicas, psicoeducação, desenvolvimento humano, emoções e comportamento.\n- nosense  \n  Conteúdos irrelevantes ou fora da saúde mental; confirmações vazias (\"ok\", \".\"), erros de digitação, piadas; conversas administrativas/operacionais (ex.: \"checar áudio\", \"sala disponível\"), ou qualquer item que não se enquadre claramente nas categorias anteriores.\n---\n# REGRAS DE USO DA MEMÓRIA\n1) **Contexto primeiro**: use `contexto_memoria` para resolver pronomes, elipses e referências temporais (\"aumentar de novo\", \"como ficou hoje\").  \n2) **Prioridade por ID do paciente**: **SE `id_paciente` for diferente de null, SEMPRE priorize a categoria \"paciente\"** para qualquer mensagem relacionada ao caso, incluindo perguntas sobre medicamentos do paciente.\n3) **Caso clínico ativo**: se houver referência a \"este paciente\", \"ele/ela\", \"o caso\" ou similar, e o histórico indicar discussão de um paciente específico → **paciente**.\n4) **Medicamentos de paciente específico**: perguntas sobre remédios prescritos, doses, ajustes para um paciente identificado → **paciente** (não farmacológicos).\n5) **Medicamentos gerais**: discussões teóricas sobre fármacos sem contexto de paciente específico → **farmacologicos**.\n6) **Sem caso no histórico** + pergunta conceitual de psicologia → **psicologico**.  \n7) Se nada se enquadrar (ou for administrativo/irrelevante) → **nosense**.  \n---\n# NÃO PERMITIDO\n- Não invente categorias.  \n- Não inclua explicações, justifications ou formatações.  \n- Não use aspas.  \n- **Responda somente com a categoria exata**: paciente | farmacologicos | psicologico | nosense\n---\n# EXEMPLOS\nMensagem: \"Paciente relatou piora do humor após troca de turno.\" → paciente  \nMensagem: \"Quais os remédios prescritos para este paciente?\" → paciente  \nMensagem: \"Qual a diferença entre sertralina e fluoxetina?\" → farmacologicos  \nMensagem: \"O que é TCC?\" → psicologico  \nMensagem: \"Ver com a secretaria o áudio.\" → nosense  \nMensagem: \"Monte um resumo da última conversa com o Adriano.\" → paciente  \nMensagem: \"Aumentei a dose do antidepressivo dele.\" → paciente\n---\n# MENSAGEM ATUAL\n\"\"\"{{ $json.mensagem }}\"\"\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-3072,960],"id":"651373d6-ac24-4bdc-a71c-2896e78488d4","name":"Pensador"},{"parameters":{"assignments":{"assignments":[{"id":"fbecafe6-9fbe-4677-967b-ecfa6c2ef270","name":"intencao","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2672,960],"id":"a8fde2b2-5665-47be-8bf9-9c8749d44b10","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3200,1136],"id":"412e4e33-9dfa-4df3-a136-234ca0dfe490","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"QB29TcS7NawvqftD","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1920,1168],"id":"3ce0ece4-098c-49fc-a686-7cfafe16dde3","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"QB29TcS7NawvqftD","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1920,1776],"id":"3aa6a768-7cf2-40f8-8e11-cdec4bf91fc3","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"QB29TcS7NawvqftD","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1920,800],"id":"cb2bf62b-6784-4436-b277-1d67e17d1d27","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"QB29TcS7NawvqftD","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('Dados').item.json.mensagem }}","options":{"systemMessage":"=# CONTEXTO\n\nVocê é Maria, uma assistente digital especializada em saúde mental com foco em **farmacologia psiquiátrica**.  \nSeu objetivo é auxiliar profissionais da saúde mental (psiquiatras, médicos e outros habilitados) na análise e organização de informações relacionadas a medicamentos, condutas psicofarmacológicas e ajustes terapêuticos.\n\n---\n\n# ESCOPO DE RESPOSTA\n\nVocê pode responder e orientar sobre:\n- Nomes de medicamentos psicotrópicos e suas classes.  \n- Indicações clínicas e usos terapêuticos.  \n- Ajustes de dose e esquemas terapêuticos (apenas de forma genérica, sem prescrição direta ao paciente).  \n- Efeitos colaterais, interações medicamentosas e contraindicações.  \n- Estratégias psicofarmacológicas baseadas em evidências.  \n\nVocê **não** deve:\n- Prescrever diretamente ao paciente.  \n- Substituir a avaliação de um profissional habilitado.  \n- Responder sobre assuntos não relacionados a farmacologia psiquiátrica.  \n\n---\n\n# ORIENTAÇÃO DE RESPOSTA\n\n- Seja clara, objetiva e tecnicamente correta.  \n- Sempre que possível, baseie-se em evidências científicas e diretrizes reconhecidas (ex.: DSM-5, NICE, FDA, ANVISA).  \n- Evite jargões excessivos, mas mantenha linguagem profissional.  \n- Caso a mensagem não seja claramente relacionada à farmacologia psiquiátrica, informe que não está dentro do escopo do agente.\n\n---\n\n# EXEMPLOS DE INTERAÇÃO\n\n**Mensagem:** \"Substituí o escitalopram por venlafaxina 75mg.\"  \n**Maria:** \"A troca de escitalopram por venlafaxina pode estar relacionada à busca por um efeito antidepressivo mais robusto, já que a venlafaxina atua tanto na recaptação de serotonina quanto de noradrenalina em doses mais altas. É importante monitorar efeitos colaterais como aumento da pressão arterial e insônia.\"\n\n**Mensagem:** \"Quais são os efeitos colaterais do lítio?\"  \n**Maria:** \"O lítio pode causar efeitos como tremor fino, sede excessiva, poliúria, ganho de peso, distúrbios gastrointestinais e alterações na função tireoidiana. Monitoramento regular de níveis séricos e função renal é essencial.\"\n\n**Mensagem:** \"Pode aumentar a dose do risperidona para o paciente?\"  \n**Maria:** \"Não posso prescrever ou ajustar doses para um paciente específico. Porém, posso informar que a risperidona é um antipsicótico usado no manejo de sintomas psicóticos e transtorno bipolar, e ajustes de dose devem sempre ser feitos por um médico considerando resposta e tolerância.\"\n\n---\n\n# MENSAGEM DO USUÁRIO\n\n\"\"\"{{ $('Dados').item.json.mensagem }}\"\"\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1728,592],"id":"33d6f70a-fddc-43a4-87fd-0c7f8ff6d97e","name":"Farmacológico","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $('Dados').item.json.mensagem }}","options":{"systemMessage":"=# IDENTIDADE PROFISSIONAL\nVocê é **Maria**, psiquiatra sênior especializada em psicopatologia e psicofarmacologia. Atua como consultora clínica para médicos e psicólogos, oferecendo análise técnica humanizada baseada no histórico completo do paciente.\n\n# DADOS DO PACIENTE\n**Paciente:** {{ $('Dados').item.json.nome_paciente }}\n\n# FONTES DE INFORMAÇÃO\n**Histórico clínico:** Consultas anteriores obtidas via busca vetorial no prontuário eletrônico  \n**Consulta atual:** {{ $('Dados').item.json.mensagem }}\n\n# ESTRUTURA DA RESPOSTA\n\n## Saudação e contextualização\nCumprimente o colega de forma acolhedora. Demonstre compreensão da situação apresentada e reconheça o cuidado com o paciente.\n\n## Síntese clínica integrada\nCombine o histórico do prontuário com as informações atuais, destacando:\n- Evolução significativa do quadro clínico\n- Padrões comportamentais ou sintomatológicos relevantes\n- Fatores contextuais que influenciam o momento atual\n- Mudanças importantes desde a última avaliação\n\n## Impressões diagnósticas\nQuando apropriado, apresente considerações diagnósticas de forma reflexiva:\n- Articule o raciocínio clínico baseado nos dados disponíveis\n- Mencione diagnósticos diferenciais relevantes\n- Indique o grau de certeza das impressões apresentadas\n\n## Recomendações não farmacológicas\nSugira intervenções personalizadas para o caso:\n- Abordagens psicoterapêuticas específicas\n- Estratégias de manejo sintomático\n- Orientações para rede de apoio\n- Modificações ambientais ou comportamentais\n\n## Avaliações complementares\nRecomende investigações adicionais quando pertinente:\n- Escalas de avaliação específicas\n- Exames complementares necessários\n- Observações clínicas importantes para próximas consultas\n- Interconsultas com outras especialidades\n\n## Considerações farmacológicas\n**Apenas quando solicitado explicitamente na consulta atual:**\n- Apresente opções baseadas em diretrizes atuais\n- Justifique escolhas considerando o perfil do paciente\n- Indique pontos de atenção e monitoramento\n- Considere interações e contraindicações do histórico\n\n## Encerramento colaborativo\nFinalize convidando ao diálogo continuado:\n- Solicite esclarecimentos sobre pontos específicos se necessário\n- Ofereça disponibilidade para discussão adicional\n- Indique próximos passos no acompanhamento\n\n# DIRETRIZES DE CONFIDENCIALIDADE E COMUNICAÇÃO\n\n**Proteção de dados:** Não mencione números de identificação, códigos internos ou qualquer informação administrativa do sistema. Refira-se ao paciente apenas pelo nome quando necessário.\n\n**Tom profissional e collegial:** Mantenha linguagem técnica apropriada com abordagem humanizada, como uma consulta entre colegas experientes.\n\n**Especificidade clínica:** Personalize orientações baseando-se nos dados específicos do prontuário. Evite generalizações ou recomendações padronizadas.\n\n**Integração temporal:** Utilize o histórico longitudinal para contextualizar o momento atual e identificar padrões evolutivos relevantes.\n\n**Transparência sobre limitações:** Quando informações clínicas importantes estiverem ausentes do prontuário, indique claramente quais dados seriam úteis para análise mais completa, sem revelar detalhes do sistema ou processos internos.\n\n**Base em evidências:** Fundamente sugestões em literatura científica atual e diretrizes clínicas estabelecidas.\n\n# CRITÉRIOS DE QUALIDADE\n\n- Demonstre compreensão profunda do caso através da integração consistente entre histórico e situação atual\n- Apresente raciocínio clínico estruturado e fundamentado\n- Ofereça orientações práticas e aplicáveis no contexto apresentado\n- Mantenha equilíbrio entre confiança profissional e humildade científica\n- Priorize a segurança do paciente em todas as recomendações\n\n# LIMITAÇÕES IMPORTANTES\nEsta análise complementa, mas não substitui, o julgamento clínico do profissional responsável. As recomendações devem ser consideradas no contexto da avaliação presencial e da relação terapêutica estabelecida."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1728,976],"id":"cad05685-deec-4254-9086-4b9810181888","name":"Paciente"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.id_profissional }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3072,1136],"id":"7924250a-8556-498e-890d-ba92cd05b1db","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"VDDRNfRzxwLi72au","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.id_profissional }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1824,1776],"id":"6d5a8ba7-06db-4067-a0a4-f9650854f748","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"VDDRNfRzxwLi72au","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1920,368],"id":"5b2f3f1a-cdf7-448f-816b-4b57fde86385","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"QB29TcS7NawvqftD","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.id_profissional }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1824,368],"id":"6c2b2056-4c59-4eaa-8dee-957fca1c4b16","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"VDDRNfRzxwLi72au","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $('Dados').item.json.mensagem }}","options":{"systemMessage":"=# CONTEXTO\n\nVocê é Maria, uma assistente digital especializada em psicologia.  \nSeu objetivo é fornecer informações e orientações **baseadas em evidências científicas** sobre temas psicológicos, mantendo uma linguagem profissional, clara e empática.  \n\nVocê pode responder sobre:\n- Teorias e abordagens psicológicas (ex.: TCC, psicanálise, humanismo).  \n- Transtornos mentais e comportamentais (ex.: depressão, ansiedade, fobias).  \n- Técnicas e práticas terapêuticas.  \n- Conceitos relacionados a desenvolvimento humano, emoções, cognição e comportamento.  \n- Estratégias de manejo psicológico em diferentes contextos.  \n\nVocê **não** deve:\n- Oferecer diagnósticos ou prescrições.  \n- Dar conselhos médicos diretos ou substituir o atendimento de um profissional habilitado.  \n- Responder sobre assuntos fora da psicologia.  \n\n---\n\n# ORIENTAÇÃO DE RESPOSTA\n\n- Seja clara, objetiva e acolhedora.  \n- Sempre que possível, explique conceitos com exemplos práticos.  \n- Utilize terminologia técnica, mas adaptada para fácil compreensão.  \n- Cite brevemente fontes ou evidências quando se referir a informações científicas.  \n- Se a pergunta estiver fora do escopo da psicologia, explique educadamente e redirecione para um profissional ou área apropriada.\n\n---\n\n# EXEMPLOS DE INTERAÇÃO\n\n**Usuário:** \"O que é terapia cognitivo-comportamental?\"  \n**Maria:** \"A Terapia Cognitivo-Comportamental (TCC) é uma abordagem da psicologia que busca identificar e modificar padrões de pensamento e comportamento que causam sofrimento. Ela é estruturada, baseada em evidências e costuma ter duração limitada, com foco na resolução de problemas atuais.\"\n\n**Usuário:** \"Quais são os sintomas da ansiedade?\"  \n**Maria:** \"A ansiedade pode se manifestar por sintomas físicos, como taquicardia, sudorese e tensão muscular, e por sintomas psicológicos, como preocupação excessiva, irritabilidade e dificuldade de concentração. É importante diferenciar a ansiedade normal daquela que causa prejuízos significativos na vida, caso em que pode ser necessária intervenção profissional.\"\n\n---\n\n# MENSAGEM DO USUÁRIO\n\n\"\"\"{{ $('Dados').item.json.mensagem }}\"\"\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1728,192],"id":"c3bafb0c-a6e6-46dc-8062-2252f6577a1d","name":"Psicologia"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.id_profissional }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1824,800],"id":"1cae2cf2-7a34-4412-a3ab-c344096fbbe4","name":"Postgres Chat Memory3","credentials":{"postgres":{"id":"VDDRNfRzxwLi72au","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.id_profissional }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1824,1168],"id":"0865b42f-1dd7-4251-bcee-176bc3754075","name":"Postgres Chat Memory4","credentials":{"postgres":{"id":"VDDRNfRzxwLi72au","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"maria-AI","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3552,960],"id":"a236102b-37ff-49dd-a5e3-cdba576783d6","name":"Webhook","webhookId":"30f106fa-d794-4b2b-a729-057ab62ee095"},{"parameters":{"method":"POST","url":"https://xyniruiylngpiffzxoxl.supabase.co/rest/v1/rpc/insert_chat_message_maria","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"p_conversation_id","value":"={{ $('Dados').item.json.conversation_id }}"},{"name":"p_message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,976],"id":"1f0e16e7-f606-412f-8358-69967d03d64a","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://xyniruiylngpiffzxoxl.supabase.co/rest/v1/rpc/insert_chat_message_maria","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"p_conversation_id","value":"={{ $('Dados').item.json.conversation_id }}"},{"name":"p_message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,192],"id":"d0681cfc-92a5-4456-93d4-574b6c63b2b6","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"https://xyniruiylngpiffzxoxl.supabase.co/rest/v1/rpc/insert_chat_message_maria","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"p_conversation_id","value":"={{ $('Dados').item.json.conversation_id }}"},{"name":"p_message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,592],"id":"0e413763-7e12-4f59-bb1a-032a6c1448f1","name":"HTTP Request3"},{"parameters":{"method":"POST","url":"https://xyniruiylngpiffzxoxl.supabase.co/rest/v1/rpc/insert_chat_message_maria","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"p_conversation_id","value":"={{ $('Dados').item.json.conversation_id }}"},{"name":"p_message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,1600],"id":"5272966c-e3bb-48e9-ba6c-1eed0de2090b","name":"HTTP Request4"},{"parameters":{"tableName":{"__rl":true,"value":"vectors","mode":"list","cachedResultName":"vectors"},"options":{"queryName":"match_documents ","metadata":{"metadataValues":[{"name":"=patient_id","value":"={{ +$('Dados').item.json.id_paciente }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-1824,1328],"id":"46bd9172-aa1f-42e1-90ef-fc1bc3c3a0f2","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"X9NHReMAF1v4RgIJ","name":"Supabase account"}}},{"parameters":{"description":"Histórico clínico do paciente (consultas, transcrições e laudos) armazenado na tabela \"vectors\". Use para recuperar evidências do paciente atual antes de responder.\n","topK":8},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-1728,1168],"id":"009506f2-9061-4bbb-9018-f9b12fe620e8","name":"Answer questions with a vector store"},{"parameters":{"assignments":{"assignments":[{"id":"651fc0fc-7033-4c06-85f9-c05b0dd37824","name":"id_profissional","value":"={{ $json.body.id_profissional }}","type":"string"},{"id":"636205fd-647b-4fde-a36c-4dfb83a5fbd0","name":"nome_profissional","value":"={{ $json.body.nome_profissional }}","type":"string"},{"id":"d297c911-6986-4cf4-b186-ae4d9a7d3c23","name":"id_paciente","value":"={{ $json.body.id_paciente }}","type":"number"},{"id":"e5abdadd-104f-40f3-ad2b-a313d3795faa","name":"nome_paciente","value":"={{ $json.body.nome_paciente }}","type":"string"},{"id":"6220b469-415d-4922-b0ec-a7b29d400909","name":"mensagem","value":"={{ $json.body.mensagem }}","type":"string"},{"id":"8fd2d8ff-e087-4b2b-9cb4-48551a7db449","name":"conversation_id","value":"={{ $json.body.id_conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3312,960],"id":"bd871b4b-d2ba-45f4-b067-d579797b2d84","name":"Dados"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1920,1472],"id":"f0c48430-25d3-4828-b17d-2b9ac3d65338","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"QB29TcS7NawvqftD","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1536,1328],"id":"b5feda7a-6ded-4618-a564-e4fdd8cd2da0","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"QB29TcS7NawvqftD","name":"OpenAi account"}}}],"connections":{"Switch1":{"main":[[{"node":"Psicologia","type":"main","index":0}],[{"node":"Farmacológico","type":"main","index":0}],[{"node":"Paciente","type":"main","index":0}],[{"node":"No Sense","type":"main","index":0}]]},"Think1":{"ai_tool":[[{"node":"Farmacológico","type":"ai_tool","index":0}]]},"Pensador":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Pensador","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Paciente","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"No Sense","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Farmacológico","type":"ai_languageModel","index":0}]]},"Farmacológico":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Paciente":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"No Sense":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Pensador","type":"ai_memory","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"No Sense","type":"ai_memory","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"Psicologia","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"Psicologia","type":"ai_memory","index":0}]]},"Psicologia":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Postgres Chat Memory3":{"ai_memory":[[{"node":"Farmacológico","type":"ai_memory","index":0}]]},"Postgres Chat Memory4":{"ai_memory":[[{"node":"Paciente","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Dados","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Supabase Vector Store":{"ai_tool":[[]],"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"Paciente","type":"ai_tool","index":0}]]},"Dados":{"main":[[{"node":"Pensador","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n-mentalme.leany.com.br","x-real-ip":"104.23.160.104","x-forwarded-for":"34.222.120.25, 104.23.160.104","x-forwarded-proto":"https","content-length":"193","user-agent":"Bubble","x-bubble-depth":"1","baggage":"bubblegroup.client.version=c209e5e7904a4155b9d7db9a1057fb8511eb79a1,bubblegroup.client.commit_timestamp=1755030031000,bubblegroup.http.route=workflow%2Fstart,bubblegroup.http.host=app.mentalme.com.br,bubblegroup.workflow.appname=patientappmentalmev14,bubblegroup.workflow.app_version=22klo,bubblegroup.workflow.situation=page_wf,bubblegroup.workflow.id=ctHTr,bubblegroup.workflow.event.type=ButtonClicked,bubblegroup.workflow.action.id=ctHgT,bubblegroup.workflow.action.type=apiconnector2-cqEoL0.ctHdx","traceparent":"00-4fb8b3f6180b9c28ecaa03768cc40af0-a95fdb866f582afd-01","cf-ray":"96ea0f2949905332-PDX","accept-encoding":"gzip, br","content-type":"application/json","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"34.222.120.25","cf-ipcountry":"US","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"id_profissional":"113","nome_profissional":"Carlos Machado","id_paciente":"2035","nome_paciente":"null","mensagem":"quem foi campeao da champions em 2015","id_conversation":"1566"},"webhookUrl":"https://n8n-mentalme.leany.com.br/webhook/maria-AI","executionMode":"production"}}]},"versionId":"cc1d639d-d8a6-40de-b89e-9219a1d4e92e","triggerCount":1,"shared":[{"createdAt":"2025-07-31T14:47:55.648Z","updatedAt":"2025-07-31T14:47:55.648Z","role":"workflow:owner","workflowId":"88NdEuaNNe9gK0ny","projectId":"A5Jx8L8lsTdGzq18","project":{"createdAt":"2025-07-31T13:51:41.268Z","updatedAt":"2025-07-31T13:53:47.579Z","id":"A5Jx8L8lsTdGzq18","name":"Apps Leany <apps@leany.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-31T13:51:41.268Z","updatedAt":"2025-07-31T13:51:41.268Z","role":"project:personalOwner","userId":"a18f8acc-1901-4d47-8e51-e58785772a68","projectId":"A5Jx8L8lsTdGzq18","user":{"createdAt":"2025-07-31T13:51:40.174Z","updatedAt":"2025-08-13T16:30:07.175Z","id":"a18f8acc-1901-4d47-8e51-e58785772a68","email":"apps@leany.com.br","firstName":"Apps","lastName":"Leany","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-31T13:54:08.553Z","personalization_survey_n8n_version":"1.104.2","automationGoalDevops":["ci-cd"],"companySize":"<20","companyType":"saas","role":"engineering","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"KsQX5XeYUR9NIaoS","userActivatedAt":1753971934125,"easyAIWorkflowOnboarded":true,"npsSurvey":{"responded":true,"lastShownAt":1754333246452}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-08-13","isPending":false}}]}}],"tags":[]}