Vector-Build.json
{"createdAt":"2025-08-13T12:33:03.653Z","updatedAt":"2025-08-14T12:03:22.335Z","id":"Rvd4LNEtoDgst38D","name":"Vector-Build","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"ae1f1b10-ed40-4d5a-ab30-3a6e12f0b392","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://xyniruiylngpiffzxoxl.supabase.co/functions/v1/sync_patient_vector","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"patient_id","value":"={{ $json.patient_id }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,16],"id":"a295d01e-105d-49d7-a621-3e82df50b66e","name":"HTTP Request","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"url":"https://xyniruiylngpiffzxoxl.supabase.co/rest/v1/rpc/get_patients_with_records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A  "},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A  "}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"5c529fe6-5a0c-432f-8715-5ad4009b99d7","name":"HTTP Request1"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,0],"id":"e9806f8b-8265-44ee-9957-e5ba3f2c283d","name":"Loop Over Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"e988ea07-03e2-4c4c-9a40-9107e1f6e581"}],"combinator":"and"},"renameOutput":true,"outputKey":"Success"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,-384],"id":"423c446a-4d17-4f1e-a7db-51b5e6faa1a0","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ade11f8d-a6ea-4587-9169-f888c5542e70","leftValue":"={{ $json.error.status }}","rightValue":400,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,32],"id":"2d23c12a-3ea8-450e-b46c-46f63fc3fe9f","name":"If"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"19dc8880-acd1-4bae-a597-357fce560ade","triggerCount":0,"shared":[{"createdAt":"2025-08-13T12:33:03.653Z","updatedAt":"2025-08-13T12:33:03.653Z","role":"workflow:owner","workflowId":"Rvd4LNEtoDgst38D","projectId":"A5Jx8L8lsTdGzq18","project":{"createdAt":"2025-07-31T13:51:41.268Z","updatedAt":"2025-07-31T13:53:47.579Z","id":"A5Jx8L8lsTdGzq18","name":"Apps Leany <apps@leany.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-31T13:51:41.268Z","updatedAt":"2025-07-31T13:51:41.268Z","role":"project:personalOwner","userId":"a18f8acc-1901-4d47-8e51-e58785772a68","projectId":"A5Jx8L8lsTdGzq18","user":{"createdAt":"2025-07-31T13:51:40.174Z","updatedAt":"2025-08-14T04:01:08.186Z","id":"a18f8acc-1901-4d47-8e51-e58785772a68","email":"apps@leany.com.br","firstName":"Apps","lastName":"Leany","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-31T13:54:08.553Z","personalization_survey_n8n_version":"1.104.2","automationGoalDevops":["ci-cd"],"companySize":"<20","companyType":"saas","role":"engineering","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"KsQX5XeYUR9NIaoS","userActivatedAt":1753971934125,"easyAIWorkflowOnboarded":true,"npsSurvey":{"responded":true,"lastShownAt":1754333246452}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-08-14","isPending":false}}]}}],"tags":[]}