Vector-Build.json
{"createdAt":"2025-08-13T18:23:11.861Z","updatedAt":"2025-08-14T12:20:27.326Z","id":"noHm7MrHlAy0R0bj","name":"Vector-Build","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1232,336],"id":"10adff1e-dadd-4d9c-9204-b7f5015bbb56","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://xyniruiylngpiffzxoxl.supabase.co/functions/v1/sync_patient_vector","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"patient_id","value":"={{ $json.patient_id }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-544,352],"id":"b30f3202-0648-42c8-81ee-5b8f50f402bf","name":"HTTP Request","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"url":"https://xyniruiylngpiffzxoxl.supabase.co/rest/v1/rpc/get_patients_with_records","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A  "},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5bmlydWl5bG5ncGlmZnp4b3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyOTA0OTQsImV4cCI6MjA0NTg2NjQ5NH0.UilAxSEjLcoBo0dO0zoyuKr-ObUqXeL76Q1uvMfZM6A  "}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1024,336],"id":"ac841657-3117-4f6f-bf42-9c4d9aa255d8","name":"HTTP Request1"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-816,336],"id":"a7477a2e-a5e7-4bda-a820-c07a2e6c7f45","name":"Loop Over Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"e988ea07-03e2-4c4c-9a40-9107e1f6e581"}],"combinator":"and"},"renameOutput":true,"outputKey":"Success"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,-48],"id":"56a0d965-9078-430d-9b59-c1969c71c87d","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ade11f8d-a6ea-4587-9169-f888c5542e70","leftValue":"={{ $json.error.status }}","rightValue":400,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,384],"id":"1362824a-858f-4b21-ac7b-20fff59df6cf","name":"If"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2ce47313-63a4-4f1f-b671-aff1ca7160b2","triggerCount":0,"shared":[{"createdAt":"2025-08-13T18:23:11.861Z","updatedAt":"2025-08-13T18:23:11.861Z","role":"workflow:owner","workflowId":"noHm7MrHlAy0R0bj","projectId":"xwo51gK21ePOe3xg","project":{"createdAt":"2025-08-06T17:55:29.898Z","updatedAt":"2025-08-06T18:24:13.458Z","id":"xwo51gK21ePOe3xg","name":"Apps Leany <apps@leany.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-08-06T17:55:29.898Z","updatedAt":"2025-08-06T17:55:29.898Z","role":"project:personalOwner","userId":"afc15961-eee4-41cc-b560-28ea3de2c832","projectId":"xwo51gK21ePOe3xg","user":{"createdAt":"2025-08-06T17:55:28.870Z","updatedAt":"2025-08-14T12:41:56.125Z","id":"afc15961-eee4-41cc-b560-28ea3de2c832","email":"apps@leany.com.br","firstName":"Apps","lastName":"Leany","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-08-06T18:24:35.322Z","personalization_survey_n8n_version":"1.105.3","automationGoalDevops":["ci-cd"],"companySize":"<20","companyType":"saas","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"Ddtx9JNz6EB9Nsqd","userActivatedAt":1755175312863},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-08-14","isPending":false}}]}}],"tags":[]}